.product-grid:not(.ssky-hide-text-content) .grid__item:hover {
  background-color: none !important;
  border: none !important;
}

.ssky-quick-add.quick-add {
  position: relative !important;
  display: block !important;
}

.grid__item {
  background-color: #ffffff !important;
  border-radius: 15px !important;
  border: none !important;
  padding-bottom: 20px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.product-grid:not(.ssky-hide-text-content) .grid__item:hover {
  background-color: #ffffff !important;
  background: #ffffff !important;
  border: none !important;
}

.product-grid:not(.ssky-hide-text-content) .grid__item:hover .card__inner,
.product-grid:not(.ssky-hide-text-content)
  .grid__item:hover
  .card__information {
  opacity: 1 !important;
}

.dc_age-tag {
  padding: 4px 8px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 600;
}
